<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%# <form action="/users" method="post" accept-charset="UTF-8" >

  <label for="email">Email:</label>
  <input type="email" name="user[email]" id="email">
  <br><br>
  <label for="username">Username:</label>
  <input type="text" name="user[username]" id="username">
  <br><br>
  <label for="password">Password:</label>
  <input type="password" name="user[password]" id="password">
  <br><br>
  <input type="submit" value="Submit">
</form> %>

<%#= form_tag("/users", method: "post") do %>
  <%#= label_tag "email", "Email:" %>
  <%#= email_field_tag "email" %>
  <br>
  <br>
  <%#= label_tag "username", "Username:" %>
  <%#= text_field_tag "username" %>
  <br>
  <br>
  <%#= label_tag "password", "Password:" %>
  <%#= password_field_tag "password" %>
  <br>
  <%#= submit_tag "Submit" %>
<%# end %>

<%= form_with model: @user do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email, placeholder: "example@example.com", required: true %>
  <br>
  <br>
  <%= form.label :username, value: "Your user name here" %>
  <%= form.text_field :username, value: "Monatric", required: true, minlength: 3, maxlength: 12 %>
  <br>
  <br>
  <%= form.label :password %>
  <%= form.password_field :password, minlength: 6, maxlength: 20, required: true %>
  <br>
  <br>
  <%= form.submit %>
<% end %>
